.home-bg {
    background-image: url('/public/images/clouds.jpg');
    height: 100vh;
    width: 100vw;
}

.home-img {
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-name {
    font-family: 'Antonio', sans-serif;
    font-size: 80px !important;
}

.home-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: white;
}

.home-txt {
    font-size: 20px;
}

.home-nav-list {
    list-style: none;
    font-family: 'Arvo', serif;
}

.home-list-item {
    text-decoration: none;
    color: black;
}

.home-list-item:hover {
    color: grey;
    font-size: 20px;
}

.home-icon {
    width: 40px;
    height: 40px;
}

@media screen and (min-width: 768px) {
    .home-cols {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .home-right {
        width: 50%;
    }

    .home-name {
        font-size: 120px;
    }

    .home-left {
        margin-left: 20px;
    }

    .home-nav-list {
        font-size: 25px;
    }

    .home-icon {
        width: 50px;
        height: 50px;
    }
}